<%= form_for(@user, :html => { :multipart => true }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :login %>
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :senha %>
    <%= f.password_field :senha %>
  </div>
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :sexo %>
    <%= f.select :sexo, [['Masculino', 'M'], ['Feminino', 'F']]%>  
  </div>
  <div class="field">
    <%= f.label :cidade %>
    <%= f.text_field :cidade %>
  </div>
  <div class="field">
    <%= f.label :estado %>
    <%= f.text_field :estado %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :descricao %>
    <%= f.text_field :descricao %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar" %>
  </div>
<% end %>
