<!DOCTYPE html>
<html>
<head>
  <title>Yearbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="head">
	
	<span id="yearbook">

	<a href="/">YearBook</a>

	</span>

	<% if @estaLogado != 0 && @estaLogado != nil && @estaLogado == true %>
 	
 		<a href="/users/logout" class="logout">Sair</a>
	

	<% else %>
	

	<form class="login" method="POST" action="/users/login">

		<label>Login </label><input type="text" name="login" placeholder="login" >
		<label>Senha </label><input type="password" name="senha" placeholder="senha">
		<button type="submit">Entrar</button>

		<small class="cadastrar"><a href="/users/new">Ainda não é cadastrado?</a></small>
		<%= token_tag nil %>


	</form>

	<%end%>
</header>

<div id="main">
<%= yield %>
</div>

</body>
</html>
